:root
    --theme-color #66CCFF

html, body
    margin 0
    padding 0
    font-family 'PingFang SC', 'Helvetica'

.app
    display flex
    flex-flow column nowrap
    justify-content space-between
    align-items center
    background white

.header
    margin 80px 0 0
    height 380px
    width 100%
    position relative
    overflow hidden
    z-index -1
    .inner
        height inherit
        width 100%
        position fixed
    .bg
        width 100%
        height 100%
        position absolute
        left 0
        top 0
        background no-repeat center center
        background-image url(assets/banner_one.jpg)
        // background-attachment fixed
        background-size cover
        z-index -1
    .title
        text-align center
        margin 10rem 1rem 0
        h1
            margin 0 auto
            color white
            width fit-content
            border-bottom 2px solid var(--theme-color)
.nav
    transition all .3s ease-out
    position fixed
    top 0
    height 80px
    width 100%
    margin 0
    display flex
    flex-flow row wrap
    justify-content center
    align-items center
    background white
    box-shadow 0 1px 1px 0 rgba(0,0,0,.16)
    .menu
        height inherit
        margin 0
        display flex
        flex-flow row wrap
        justify-content center
        align-items center
        li
            list-style none
            a
                text-decoration none
                padding 2rem
                transition all .3s
                span
                    color black
                &:hover
                    border-radius 4px
                    padding 4rem 2rem
                    background-color rgba(255,255,255, 0.6)
                    box-shadow 0 2px 10px 4px rgba(0,0,0,.2)
                    span
                        transition all .1s
                        border-bottom 2px solid var(--theme-color)

.content
    width 100%
    .subtitle
        margin-top 0
        &::before
            padding-right 8px
            content ''
            border-left 4px solid var(--theme-color)
    section
        margin 0 auto
        padding 2rem 16%

section .data__layout
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items center
    .screenshot
        max-width 68%
        box-shadow 0 2px 6px 4px rgba(0,0,0,.2)
    .intro
        min-width 30%
        flex 1 1 28%
        li
            list-style none
        .subsubtitle
            font-weight bold
            &::before
                padding-right 8px
                content ''
                border-left 3px solid var(--theme-color)
        .subintro
            color #666

/* progress table */
section .progress__layout
    margin 0 4px
    overflow-x auto
    overflow-y hidden
    display grid
    grid-template-rows repeat(7, 22px)
    gap 8px 8px
    &::-webkit-scrollbar
        height 8px
    &::-webkit-scrollbar-thumb
        border-radius 10px
        box-shadow inset 0 0 5px rgba(102,204,255,0.16)
        background var(--theme-color)
    &::-webkit-scrollbar-track
        border-radius 10px
        background #EDEDED
    .head
        font-size 1.1rem
        text-align center
        border-bottom 1px solid var(--theme-color)
    .item
        color black
        transition all .2s
        border-radius 6px
        background-color var(--theme-color)
        &:hover
            background-color white
            box-shadow 0 2px 6px 2px rgba(0,0,0,0.16)
        &::before
            padding 2px
        &.proposal
            grid-row 2
            &::before
                content 'Proposal Discussion'
        &.data_collection
            grid-row 3
            &::before
                content 'Data Collection'
        &.data_pre-processing
            grid-row 4
            &::before
                content 'Data Pre-processing'
        &.database_organization
            grid-row 5
            &::before
                content 'Database Organization'
        &.flume
            grid-row 6
            &::before
                content 'Flume Setup'
        &.kafka
            grid-row 6
            &::before
                content 'Kafka Setup'
        &.nlp
            grid-row 7
            &::before
                content 'NLP'
        &.spark-streaming
            grid-row 8
            &::before
                content 'Spark-Streaming'
        &.visualization
            grid-row 9
            &::before
                content 'Visualization'

.header .menu a.dev
    &:hover
        position relative
        span::after
            left 50%
            bottom 1px
            position absolute
            content '还没做!'

@media (max-width: 1024px)
    .nav .menu
        display none
    .app
        padding 0 1rem
    .content section
        padding 2rem 0
    .data__layout
        .screenshot
            max-width 100% !important
        .intro
            flex 1 1 100%

.footer
    padding 2rem
    color #555
    text-align center
